/*GENERAL*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 12px;
}
/*GENERAL END*/

/*UTILITIES*/
.font-size14 {
  font-size: 14px;
}

.color-grey {
  color: #999999;
}

.color-grey:hover {
  color: #fff;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font-weight: 400;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: #fff;
}

.margin-right15 {
  margin-right: 15px;
}

.margin-left20 {
  margin-left: 20px;
}

.margin-bottom30 {
  margin-bottom: 30px;
}

.border-radius50 {
  border-radius: 50%;
}

.pointer {
  cursor: pointer;
}
/*UTILITIES END*/

/*LAYOUT*/
/*GENERAL CONTAINER*/
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/*GENERAL CONTAINER END*/

/*MAIN CONTENT*/
#main-window {
  flex-grow: 1;
  background-color: #0c0f14;
  display: flex;
}

/*SIDEBAR*/
#sidebar {
  flex-basis: 215px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0;
}

/*Sidebar Top*/
.sidebar-top {
  flex-grow: 1;
}

.logo {
  padding: 20px 0 20px;
}

.logo-text {
  max-width: 120px;
}

.small-logo {
  max-width: 30px;
}

.small-logo-display-none {
  display: none;
}

.user-nav-container {
  display: flex;
  flex-direction: column;
}

.user-nav-container img {
  max-width: 30px;
}

.user-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}

.user-nav:hover {
  border-left: 3px solid #1dd05d;
}

.user-nav img {
  margin-right: 5px;
}

.playlist-title {
  margin-top: 30px;
}

.fa-plus-square {
  font-size: 40px;
  margin-right: 10px;
}

.playlist {
  margin-top: 15px;
}

.playlist ul li {
  list-style: none;
  margin-bottom: 10px;
}
/*Sidebar Top End*/

/*Sidebar Bottom*/
.sidebar-bottom {
}

.fa-arrow-alt-circle-down {
    margin-right: 10px;
}

.border {
  border-bottom: 1px solid #999999;
  margin-bottom: 10px;
}

.profile-img {
  height: 30px;
  width: 30px;
  background-color: #999999;
  border-radius: 50%;
}
/*Sidebar Bottom End*/
/*SIDEBAR END*/

/*CONTENT*/
#content {
  position: relative;
  flex-grow: 1;
}

/*Content Top Bar*/
.top-bar {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upgrade-btn {
  text-decoration: none;
  margin-right: 18px;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 1em 3em;
}
/*Content Top Bar End*/

/*Music*/
.music {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 85px 15px 15px;
}

.music-menu {
  display: flex;
  justify-content: center;
  padding: 25px 0 0;
}

.music-nav li {
  display: inline-block;
  list-style: none;
  padding-right: 25px;
  margin-bottom: 30px;
}

.music-nav li a {
  text-decoration: none;
  color: #999999;
}

.music-nav li a:hover {
  border-bottom: 3px solid green;
}

.music-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.music-content {
  margin-top: 30px;
}

.row-album-container1 {
  display: flex;
  flex-flow: row wrap;
}

.row-album {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover-container {
  max-width: 260px;
  max-height: 260px;
  position: relative;
  cursor: pointer;
}

.cover-container img {
  max-width: 100%;
}

.cover-layover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cover-layover:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.cover-layover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  font-size: 50px;
  color: #1dd05d;
}

.cover-layover:hover i {
  opacity: 1;
}

.album-title {
  max-width: 260px;
  text-align: center;
}

.row-album-container2 {
  display: flex;
  flex-flow: row wrap;
}

.row-album-container3 {
  display: flex;
  flex-flow: row wrap;
}
/*MusicEnd*/
/*CONTENT END*/
/*MAIN CONTENT END*/

/*BOTTOM PLAYER*/
#player {
  background-color: #171717;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0;
}

/*Album Playing*/
.album-playing-container {
  flex-basis: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.album-playing-container img {
  max-width: 40px;
  margin-right: 10px;
}

.album-playing-container i {
  font-size: 16px;
}

.album-name {
  padding-right: 40px;
  display: flex;
  flex-direction: column;
}

.fa-heart {
  padding-right: 15px;
}
/*Album Playing End*/

/*Player Controller*/
.player-controller-container {
  flex-basis: 30%;
  margin-bottom: 20px;
}

.player-controller {
  padding: 20px 20px;
}

.player-controller ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressbar-and-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  height: 4px;
  flex-grow: 1;
  background-color: #535353;
  border-radius: 5px;
  position: relative;
}

.progress-bar::before {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  bottom: -5px;
  left: 22%;
  cursor: pointer;
}

.partial-bar {
  height: 4px;
  width: 25%;
  background-color: #fff;
  border-radius: 5px;
}

.partial-bar:hover {
  background-color: #1dd05d;
}

.song-progress {
  padding-right: 30px;
}

.song-duration {
  padding-left: 30px;
}

.player-controller ul li {
  display: inline;
}

.fa-random,
.fa-step-backward,
.fa-play-circle,
.fa-step-forward {
  padding-right: 30px;
}

#player i:hover {
  color: #1dd05d;
}

.fa-random,
.fa-step-backward,
.fa-step-forward,
.fa-redo-alt {
  font-size: 16px;
}

.fa-play-circle {
  font-size: 28px;
}
/*Player Controller End*/

/*Right Controller*/
.right-controller-container {
  flex-basis: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.right-controller {
  display: flex;
  flex-direction: row;
}

.right-controller i {
  font-size: 12px;
}

.right-controller a {
  padding-right: 15px;
}

.right-controller-bar {
  flex-basis: 20%;
  height: 4px;
  background: #535353;
  border-radius: 2px;
  align-self: center;
  position: relative;
}

.right-controller-bar::before {
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 22%;
  cursor: pointer;
}
/*Right Controller End*/
/*BOTTOM PLAYER END*/
/*LAYOUT END*/

/*MEDIA QUERY*/
/*SMALL SCREEN*/
@media screen and (min-width: 600px) {
  .cover-container {
    max-width: 260px;
    max-height: 260px;
  }

  .album-title {
    max-width: 260px;
  }

  #sidebar {
    flex-basis: 50px;
  }
}

@media screen and (max-width: 600px) {
 .small-logo-display-none {
   display: block;
 }

  .logo-display-none {
    display: none;
  }
}

@media screen and (max-width: 601px) {
  .cover-container {
    max-width: 260px;
    max-height: 260px;
  }

  .album-title {
    max-width: 260px;
  }

  #sidebar {
    flex-basis: 50px;
  }

  .user-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .fa-arrow-alt-circle-down {
    font-size: 14px;
    padding-left: 10px;
  }

  .logo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .border {
    border: none;
  }

  #sidebar {
    padding: 0;
  }

 .display-none {
   display: none;
 }
}
/*SMALL SCREEN END*/

/*MEDIA QUERY*/
/*MEDIUM SCREEN*/
@media screen and (min-width: 768px) {
  .cover-container {
    max-width: 175px;
    max-height: 175px;
  }

  .album-title {
    max-width: 175px;
  }

  #sidebar {
    flex-basis: 215px;
  }
}
/*MEDIUM SCREEN END*/
/*MEDIA QUERY*/

/*MEDIA QUERY*/
/*LARGE SCREEN*/
@media screen and (min-width: 1200px) {
  .cover-container {
    max-width: 260px;
    max-height: 260px;
  }

  .album-title {
    max-width: 260px;
  }
}
/*LARGE SCREEN END*/
/*MEDIA QUERY*/
/*MEDIA QUERY END*/
